<%- include('../partials/header'); -%>
<div class = "container">
	<div class="row justify-content-center">
		

		<main class="form-signin">
			<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
				<h1 class="h3 mb-3 fw-normal text-center">Edit campground <%=campground.name%></h1>
			
				<div class="form-floating">
				<input type="text" class="form-control" id="floatingInput" name="campground[name]"  value="<%=campground.name%>" required>
				<label for="floatingInput">Name</label>
				</div>
	
				<div class="form-floating">
				<input type="number" class="form-control" id="price" name="campground[price]" value="<%= campground.price %>" min="0.00" step="0.01" required>
				<label for="price">Price</label>
				</div>
	
				<div class="form-floating">
				<input type="text" class="form-control" id="image" name="campground[image]" value="<%=campground.image%>" required>
				<label for="image">Image URL</label>
				</div>
	
				<div class="form-floating">
				<input type="text" class="form-control" id="location" name="campground[location]" value="<%=campground.location%>" required>
				<label for="location">Location</label>
				</div>
	
				<div class="form-floating">
				<textarea class="form-control" name="campground[description]" id="descedit" style="height: 100px" required><%=campground.description%></textarea>
				<label for="descedit">Description</label>
				</div>

				<div class="form-floating">
					<textarea class="form-control" name="campground[info2]" id="floatingTextarea3" style="height: 100px" required><%=campground.info2%></textarea>
					<label for="floatingTextarea3">Info 2</label>
				</div>

				<div class="form-floating">
					<textarea class="form-control" name="campground[info3]" id="floatingTextarea4" style="height: 100px" required><%=campground.info3%></textarea>
					<label for="floatingTextarea4">Info 3</label>
				</div>
	
				<button class="w-100 btn btn-lg btn-primary" type="submit">Edit Campground</button>
			</form>
			<div class="mt-3">
				<a href ="/campgrounds/<%=campground._id%>">Go back</a>
			</div>	
		</main>






		<!-- <h1 style="text-align: center;">Edit campground	<%=campground.name%></h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="campground[name]"  value="<%=campground.name%>">
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="number" name="campground[price]" value="<%= campground.price %>" min="0.00" step="0.10">
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="campground[image]" value="<%=campground.image%>">
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="campground[location]" value="<%=campground.location%>">
				</div>
				<div class="input-group mb-3">
					<textarea class="form-control" name="campground[description]" style="height: 100px"><%=campground.description%></textarea>
				</div>
				<div class="input-group mb-3">
					<textarea class="form-control" name="campground[info2]" style="height: 100px"><%=campground.info2%></textarea>
				</div>
				<div class="input-group mb-3">
					<textarea class="form-control" name="campground[info3]" style="height: 100px"><%=campground.info3%></textarea>
				</div>
				<div class="form-group">
					<div class="d-grid gap-2">
					  <button class="btn btn-primary" type="submit">Submit</button>
					</div>
				</div>
			</form>
			<a href ="/campgrounds">Go back</a>
		</div> -->
	</div>
</div>
<%- include('../partials/footer'); -%>